<h1>Posts</h1>

    <% @posts.each do |post| %>
        <p><%= post.body %></p>

        <%= render 'like_post', post: post %>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <p><%= post.comments.count %> <%= (post.likes.count) == 1 ? 'Comment' : 'Comments'%></p>
        <%= link_to 'Show', post %>
        <% if post.user_id == current_user.id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br><hr>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
