<p id="notice"><%= notice %></p>

<h1>Posts</h1>

    <% @posts.each do |post| %>
        <p><%= post.body %></p>
        <span><%= link_to 'Show', post %></span>
        <span><%= link_to 'Edit', edit_post_path(post) %></span>
        <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <br><hr>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
