<h1>Post <%= @post.id %></h1>
<p><%= @post.body %></p>
<p><em>- <%= @post.user.name %></em></p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<h2>Last Update</h2>
<p><%= @post.updated_at %></p>
<br>
<h1>Comments</h1>

<%= form_with(model: @comment, url: post_comments_path(@post), local: true) do |form| %>
    <%= form.label :body %> <br>
    <%= form.text_field :body %> <br> <br>

    <%= hidden_field_tag :id, @post.id %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<% @post.comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= comment.body %></p>
    <p><em>- <%= comment.user.name %></em></p>
    <%= render 'like_comment', comment: comment %>
    <p><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% if comment.user_id == current_user.id %>
    <p><%= link_to 'Delete comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
    <hr>
  <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
